<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <h1>Books:</h1>
    <ul>
        <% data.forEach(element => { %>
            <li>
                <i><b></b> <%-element.title%> </i></b>(<%-element.isbn%>) <br />
                <b>published:</b> <%-element.publication_date%> <br />
                <b>pages:</b> <%-element.pages%> <br />
                <b>summary: </b> <p> <%- element.summary %> </p>
       <% }) %>
    </ul>
</body>
</html>